.card {
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  position: relative;
}

.card-front,
.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.hidden {
  display: none;
}

.white-box {
  width: 95%;
  height: 96%;
  border-radius: 2%;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 18px 48px 26px rgba(0, 0, 0, 0.15);
  background-color: var(--primary-color);
  color: var(--fc-light);
  position: relative;
}

.img__wrapper {
  position: relative;
  width: 100%;
  height: 40%;
  background-color: lightslategray;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__header,
.question__header {
  text-align: center;
  text-transform: uppercase;
  padding: 3rem 1rem 1rem;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-shadow:
    1px 0 0 white,
    4px 1px 0 var(--accent-color);
  color: var(--secondary-color);
  letter-spacing: 0.1rem;
}

.card__description,
.question__description {
  text-align: center;
  padding: 0 2rem;
  line-height: 1.5rem;
  height: 20%;
  overflow: scroll;
  z-index: 1;
}

.bottom__img__wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
}

.bottom__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.95;
}

.question__header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.question__description {
  margin-top: 1rem;
}

.question__answers {
  height: 35%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.answer__button {
  height: 50px;
  width: 70%;
  border-radius: 40px;
  background-color: transparent;
  color: var(--fc-light);
  border: 3px solid var(--secondary-color);
  position: relative;
  transition: all 0.25s ease-in-out;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.answer__button:active {
  transform: scale(0.95);
}

.answer__button:hover {
  background-color: var(--accent-color);
}

.caret {
  position: absolute;
  left: -6px;
  bottom: 30%;
}

.caret-left {
  position: absolute;
  bottom: 30%;
  right: -6px;
}
