.flip-exit > .card {
    transform: rotateY(0deg);
}

.flip-exit-active > .card {
    transform: rotateY(180deg);
    transition: transform 300ms;
    transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
}

.flip-exit-done > .card {
    transform: rotateY(180deg);
}

.flip-enter > .card {
    transform: rotateY(180deg);
}

.flip-enter-active > .card {
    transform: rotateY(0deg);
    transition: transform 300ms;
    transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
}

.flip-enter-done > .card {
    transform: rotateY(0deg);
}
