.question {
    position: absolute;
    /*display: block;*/
    width: 80%;
    height: 40%;
    z-index: 2001;
}

.whitebox {
    left: 75px;
    background: white;
    padding: 15px;
    border-radius: 3px;
    justify-content: center;
}
