.modal {
    width: 100%;
    height: 100vh;
}

.question-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2000;
    perspective: 1000px;
}

.question {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2000;
    transform-style: preserve-3d;
}

.close-button {
    text-align: center;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 4%;
    right: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border: 2px solid white;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 3rem;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    box-shadow: 8px 8px 5px -12px var(--color-dark-btn) inset;
}

.close-button:hover {
    color: var(--color-dark-btn);
}

.close-button:active {
    font-size: 2.75rem;
}

.fade > .question-wrapper {
    top: 100%;
    transition: transform 300ms ease;
}

.fade-show > .question-wrapper {
    transform: translateY(-100%);
}


.shadow {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1001;
}
