.sup-interactive-btn {
  width: 6rem;
  height: 1.75rem;
  border-radius: 2rem;
  border: 3px solid #f3c658;
  color: white;
  box-shadow: 0px 2px 2px 0px #00000040 inset;
  background: #e64614;
  cursor: pointer;
}
