.question__answers {
    height: 30%;
    text-align: center;
    margin-top: 2rem;
    padding: 0 2rem;
    position: absolute;
}

.question__answers__ul {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.answer__button {
    height: 50px;
    width: 100%;
    border-radius: 40px;
    background-color: transparent;
    color: var(--fc-light);
    border: 3px solid var(--secondary-color);
    position: relative;
    transition: all 0.25s ease-in-out;
    padding: 0.5rem 0.75rem;
}

.answer__button:active {
  transform: scale(0.95);
}

.answer__button:hover {
  background-color: var(--accent-color);
}

.caret {
  position: absolute;
  left: -6px;
  bottom: 30%;
}

.caret-left {
  position: absolute;
  bottom: 30%;
  right: -6px;
}

.card__img__wrapper {
    height: 40px;
}

.card__img {
    width: 100%;
    height: auto;
}
