.images-block {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.images-block2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.image-block {
  display: flex;
}

.image-block > div {
  margin-right: 0.5rem;
}

.image-block img {
  min-height: 96px;
  min-width: 96px;
  max-width: 192px;
  max-height: 192px;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
