.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.title {
  font-size: min(5vw, 2.488rem);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.header > * + * {
  margin-block-start: 1.5rem;
}

.subheading {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: min(5vw, 1.728rem);
}

.description {
  margin: 1rem 1rem 0;
  text-align: center;
}
