@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CONFIG */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: whitesmoke;
  --fs-small: 1rem;
  --fs-normal: 1.5rem;
  --fs-big: 2rem;
  --fc-light: whitesmoke;
  --color-dark-btn: #343a40;
  --color-exit-btn: #636569;
  --color-exit-press-btn: #38383b;
}

/* MAIN */

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-small);
}

/* UTILITY */

/* CLASSES */

/* MEDIA */

@media screen and (min-width: 768px) {
  .white-box {
    width: 65% !important;
  }

  .close-button {
    right: 19% !important;
  }
}

@media screen and (min-width: 992px) {
  .white-box {
    width: 40% !important;
  }

  .close-button {
    right: 31% !important;
  }
}