@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap');

/* CONFIG */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #060F5C;
  --fs-small: 1rem;
  --fs-normal: 1.25rem;
  --fs-large: 1.5rem;
  --fs-xl: 1.75rem;
  --fc-light: whitesmoke;
  --color-dark-btn: #343a40;
  --color-exit-btn: #636569;
  --color-exit-press-btn: #38383b;
  --accent-color: #E64614;
  --secondary-color: #F3C658;
}

/* MAIN */

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-small);
}

/* UTILITY */

/* CLASSES */

/* MEDIA */

@media screen and (min-width: 768px) {
  .white-box {
    width: 65% !important;
  }

  .close-button {
    right: 19% !important;
  }

  .bottom__img__wrapper {
    height: 30% !important;
  }

  .card-description {
    padding: 0 3rem !important;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: var(--fs-normal);
  }

  .answer__button {
    font-size: var(--fs-normal);
  }

  .white-box {
    width: 40% !important;
  }

  .close-button {
    right: 32% !important;
  }

  .card__description {
    padding: 0 3rem !important;
    height: 25% !important;
    line-height: 2rem !important;
  }

  .card__description::-webkit-scrollbar, .question__description::-webkit-scrollbar {
    opacity: 0 !important;
    width: 0 !important;
  }

  .card__header {
    padding: 1.5rem 1rem 1.5rem !important;
  }

  .question__header {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .question__answers {
    margin-top: 0.25rem !important;
    height: 30% !important;
    padding: 0 4rem !important;
  }

  .question__description {
    margin-top: 4rem !important;
    line-height: 2rem !important;
    padding: 0 3rem !important;
  }

  .img__wrapper {
    height: 35% !important;
  }
}

@media screen and (min-width: 2000px) {
  body {
    font-size: var(--fs-large);
  }

  .question__description {
    margin-top: 4rem !important;
    line-height: 2rem !important;
    padding: 0 3rem !important;
  }

  .question__answers {
    height: 30% !important;
    padding: 1rem 4rem !important;
  }
}